.dropdown-btn {
    display: flex;
    align-items: center;
    width: 20rem;
    padding: .75rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: rgb(149, 157, 165, .2)
    0px 8px 24px;
    cursor: pointer;
}

.toggle-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}